body { 
	background-image: url('pattern.png'); /* Background pattern from subtlepatterns.com */
	padding-top: 70px; 
}
h2,  label, p {
	color: #ccc;
}
small {
	color: #000;
}
.jumbotron {
	background-image: url('home3.jpg');
}

.jumbotron>h1
 {
	color: white;
	text-shadow: 2px 2px black;
}
.jumbotron>p {
	color: #111;
}
.task-header {
	margin: 5px;
}

.task {
	background-color: #ccc;
	border-radius: 10px;
	font-size: 20px;
	list-style-type: none;
	padding: 10px;
	margin-bottom: 10px;
}
.task.checked {
	background-color: #888;
}

.navbar-right {
	margin-right: 150px;
	margin-bottom: 0;
}

.glyphicon-ok {
	color: #9BD986;
}
.glyphicon-ok:hover {
	color: #009900;
	cursor: pointer;
}
.glyphicon-pencil:hover {
	color: 	#1a8cff;
}

.glyphicon-trash:hover {
	color: #ff5c33;
	cursor: pointer;
}