<template name='new_task'>
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
		<h2>Nowe zadanie</h2>
			<form class="new-task-form" enctype="multipart/form-data">
				<div class="form-group">
					<label>Nazwa</label>
					<input type="text" class="form-control" id="taskName" name="taskName" placeholder="Wpisz zadanie do wykonania">
				</div>
				<div class="form-group">
					<label>Opis</label>
					<input type="text" class="form-control" id="taskDescription" name="taskDescription" placeholder="Dodatkowe informacje">
				</div>
				<div class="form-group"> <!-- Docelowo powinna być opcja dodawania userów -->
					<label>Zadanie dla</label>
					<select class="form-control" id="user" name="user" >
						{{#each user}}
							<option value="{{_id}}">{{username}}</option>
						{{/each}}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Dodaj</button>		
			</form>				
		</div>
	</div>
</template>